*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color:#26B71A ;
    color: white;
    display: flex;
    padding: 30px;
    font-size: 30px;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 200px;
    height: 200px;
 
}

.cabecalho-item{
    display: inline-block;
    padding: 0px 30px;
}

.turma{
    background-image: linear-gradient(#59BE50,#95b8923f);
    font-size: 25px;
    padding: 50px 250px;
    
}
.turma-titulo{
    padding-bottom: 45px;
}
.turma-imagem{
    width: 300px;
    
    
}